<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoSuite">
  <test name="demo">
  <classes>
  <class name="com.selenium.testcases.PostCommentsTest"></class>
  <class name="com.selenium.testcases.UpdatePostTest"></class>
  <class name="com.selenium.testcases.VerifyWordPressLoginTest"></class>
  
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
